.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);

  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  height: 100%;
  width: 100%;

  position: absolute;
  inset: 0;

  z-index: 1;
}

.modal-content {
  color: white;
  background-color: red;
  position: relative;
  padding: 50px;

  z-index: 99999;
}

.completed {
  text-decoration: line-through;
}

.modal-form {
  display: flex;
  gap: 10px;
}
